* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.topnav {
  overflow: hidden;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #5DADE2  ;
  color: white;
}

.topnav .search-container {
  float: right;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  background-color: #99E2E2;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #85DDDD;
  font-size: 17px;
  border: none;
  cursor: pointer;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}





.card {
  box-shadow: 0 4px 8px 0 #424949 ;
  transition: 0.3s;
  width: 40%;
  margin: auto;
  width: 50%;
  padding: 10px;
  

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
  text-align: center;
}
#img{
    width: 70%;
    display: block;
margin-left: auto;
margin-right: auto;
}


.containerCreate {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#card {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: black;
   background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}

.input{
   width: 500px;
   height:40px;
   background-color: #B6D2F6;
   border-radius: 25px;
}
.name{
  height:40px;
  width: 500px;
  text-align: center;
  border: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 120%;
  
}
/* #submit{
   margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    color: black;
} */

#createBC{
 text-align: center;

}
#btn{
    display: inline-block;
    width: 300px;
    height:40px;
    border-radius: 25px;
    font-size: 120%;
    background-color: #9EBFE9;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#Norecommendation{
color: black;
  	pointer-events: auto;
	cursor: pointer;
	background: #F83434;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-size: inherit;
	position: relative;
	display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#recommendation{
 color: black;
  	pointer-events: auto;
	cursor: pointer;
	background: #47E12A;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-size: inherit;
	position: relative;
	display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#changebtn{
   color: whitesmoke;
  	pointer-events: auto;
	cursor: pointer;
	background: #1921E5;
	border: none;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

#deletebtn{
  color: #e2ebf0;
  	pointer-events: auto;
	cursor: pointer;
	background: #F83434;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}


